.socket-output-number-array > path{ stroke: #aaff00 !important; }
.socket-output-string-array > path{ stroke: #a002a0 !important; }
.socket-output-number > path{ stroke: #9acd32 !important; }
.socket-output-string > path{ stroke: #FF00FF !important; }
.socket-output-layer > path { stroke: #0000FF !important; }
.socket-output-bool > path{ stroke: #800000 !important; }
.socket-output-any > path{ stroke: #6699ff !important; }
.socket-output-flow > path{ stroke: #e6e6e6 !important; }
.socket-output-size > path{ stroke: #091580 !important; }
.socket-output-grid > path{ stroke: #04c0f0 !important; }
.socket-output-color > path{ stroke: #ee0063 !important; }
.socket-output-heatmap > path{ stroke: #f7de04 !important; }
.socket-output-geometry > path{ stroke: #b3a103 !important; }
.socket-output-point-shapes > path{ stroke: #b4a200 !important; }
.socket-output-line-shapes > path{ stroke: #746800 !important; }

.socket.output.number-array, .socket.input.number-array { background: #aaff00; }
.socket.output.string-array, .socket.input.string-array { background: #a002a0; }
.socket.output.number, .socket.input.number { background: #9acd32; }
.socket.output.string, .socket.input.string { background: #FF00FF; }
.socket.output.layer, .socket.input.layer { background: #0000FF; }
.socket.output.bool, .socket.input.bool { background: #800000; }
.socket.output.any, .socket.input.any { background: #6699ff; }
.socket.output.flow, .socket.input.flow { background: #e6e6e6; }
.socket.output.size, .socket.input.size { background: #091580; }
.socket.output.grid, .socket.input.grid { background: #04c0f0; }
.socket.output.color, .socket.input.color { background: #ee0063; }
.socket.output.heatmap, .socket.input.heatmap { background: #f7de04; }
.socket.output.geometry, .socket.input.geometry { background: #b3a103; }
.socket.output.point-shapes, .socket.input.point-shapes { background: #b4a200; }
.socket.output.line-shapes, .socket.input.line-shapes { background: #746800; }


.fg-1{ flex-grow: 1; }
.w-173{ width: 173px; }
.align-left{ text-align: left; }